<header class="site-header">
    <div class="social-links">
      <a href="https://www.linkedin.com/in/aj-im/" target="_blank">LinkedIn</a>
      <a href="https://github.com/joonhaim" target="_blank">GitHub</a>
    </div>
    <nav class="main-nav">
      <ul>
        <li><a href="index.html">Home</a></li>
    
        <!-- Projects dropdown -->
        <li class="has-dropdown">
          <a href="#">Projects<span class="arrow">▾</span></a>
          <ul class="dropdown-menu">
            <li><a href="atmosphere.html">AtmosphereCalculator</a></li>
            <li><a href="easysave.html">EasySave</a></li>
            <li><a href="cognition.html">Cognition and Computation</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </header>